# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Copyrighted Files
# =========================
fonts/FunctionPro-Medium-webfont.woff
fonts/FunctionPro-Bold-webfont.eot
fonts/FunctionPro-Bold-webfont.svg
fonts/FunctionPro-Bold-webfont.ttf
fonts/FunctionPro-Bold-webfont.woff
fonts/FunctionPro-Book-webfont.eot
fonts/FunctionPro-Book-webfont.svg
fonts/FunctionPro-Book-webfont.ttf
fonts/FunctionPro-Book-webfont.woff
fonts/FunctionPro-Light-webfont.eot
fonts/FunctionPro-Light-webfont.svg
fonts/FunctionPro-Light-webfont.ttf
fonts/FunctionPro-Light-webfont.woff
fonts/FunctionPro-Medium-webfont.eot
fonts/FunctionPro-Medium-webfont.svg
fonts/FunctionPro-Medium-webfont.ttf
